<h1>Write a Message</h1>
<p>
<textarea id="message" placeholder="Type your message here"></textarea>
</p>
<button id="message_submit_btn">Send</button>
<br />
<br />
<a href="#search">Search</a>
<br />
<a href="#list">Show all messages</a>
