<h1>Messages</h1>
<p>
<input type="text" id="query" placeholder="Search term"/>
</p>
<button id="search_submit_btn">Search</button>
<br />
<br />
<a href="#message">Take me home!</a>
<br />
<br />
<div id="search_message_container">
</div>