<h1>Signup</h1>
<p>
	<input type="text" id="name" placeholder="Name"/>
</p>
<p>
<input type="password" id="password" placeholder="Password"/>
</p>
<p>
<input type="password" id="confpassword" placeholder="Confirm Password"/>
</p>
<button id="signup_submit_btn">Sign Up</button>
<br />
